# Machine Learning Engineer Nanodegree
# Model Evaluation & Validation
# Project : Predicting Boston Housing Prices

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

# Loading Data Set

In [6]:
boston = datasets.load_boston()

In [7]:
boston.keys()

dict_keys(['target', 'data', 'feature_names', 'DESCR'])

# DataFraming Using Pandas

In [8]:
data = pd.DataFrame(boston['data'])
data.columns = boston['feature_names']
data['price'] = boston['target']
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [10]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [20]:
# Minimum housing value in the dataset
minimum_price = np.mean(data['price'])

# Maximum housing value in the dataset
maximum_price = np.max(data['price'])

# Mean house value of the dataset
mean_price = np.mean(data['price'])

# Median house value of the dataset
median_price = np.median(data['price'])

# Standard deviation of housing values of the dataset
std_dev = np.std(data['price'])

# Show the calculated statistics
print ("Boston Housing dataset statistics ")
print ("Minimum house price:", minimum_price)
print ("Maximum house price:", maximum_price)
print ("Mean house price: {0:.3f}".format(mean_price))
print ("Median house price:", median_price)
print ("Standard deviation of house price: {0:.3f}".format(std_dev))

Boston Housing dataset statistics
Minimum house price: 22.532806324110698
Maximum house price: 50.0
Mean house price: 22.533
Median house price: 21.2
Standard deviation of house price: 9.188

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x = data.iloc[:,0:13].values
y = data.iloc[:,13].values

In [27]:
X_train , X_test ,Y_train , Y_test = train_test_split(x,y,test_size = 0.25, random_state = 0)

# KNeighborsRegressor

In [29]:
knn = KNeighborsRegressor(n_neighbors=5, metric='minkowski', p=2)
knn.fit(X_train,Y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [45]:
pred = knn.predict(X_test)

In [47]:
CLIENT_FEATURES = [[11.95, 0.00, 18.100, 0, 0.6590, 5.6090, 90.00, 1.385, 24, 680.0, 20.20, 332.09, 12.13]]

In [48]:
print(CLIENT_FEATURES)

[[11.95, 0.0, 18.1, 0, 0.659, 5.609, 90.0, 1.385, 24, 680.0, 20.2, 332.09, 12.13]]

In [49]:
client_pred = knn.predict(CLIENT_FEATURES)

In [50]:
client_pred

array([15.24])

In [73]:
print ("Predicted value of client's home: " ,  client_pred )

Predicted value of client's home:  [15.24]